parameters:
    level: max
    parallel:
       processTimeout: 300.0

    tmpDir: %currentWorkingDirectory%/var/tmp/phpstan

    paths:
        - src
        - tests

    stubFiles:

    scanDirectories:

    excludePaths:
        - %currentWorkingDirectory%/tests/*

    inferPrivatePropertyTypeFromConstructor: true

    # nice to have enabled, but bridge too far for now
#    checkMissingIterableValueType: false - # disabled because of https://github.com/phpstan/phpstan-src/commit/50d0c8e23ea85da508ab8481f1ff2c89148cc80b

    ignoreErrors:

includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
